.footer {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100vw;
    margin-top: 50px;
    border-top: 1px solid lightsteelblue;
    padding: 20px 10px 10px;
    text-align: center;
    font-size: 0.8rem;
    color: steelblue;
    background-color: #222;
}