<header class="header">
  <img alt="logo" class="navlogo" src="{{config.extra.logo}}"/>

  <nav class="nav">
    {# --- home button --- -#}
    <a href="/" class="{%- if current_path == '/' %} active {% endif -%}" src="">Home</a>
    
    {# --- get index to automatically get pages and subsections --- -#} 
    {%- set index = get_section(path="_index.md") -%} 
    {# --- right links ---#} 
    {%- for s in index.subsections | reverse -%} 
    {%- set subsection = get_section(path=s) -%} 
    <a
      href="{{ subsection.permalink }}"
      class="{%- if current_path %}{% if current_path is starting_with(subsection.path) %} active {% endif %}{% endif -%}"
      >{{subsection.title}}
    </a>
    {%- endfor -%} 

  </nav>

</header>
