<header>
  <a href={{ get_url(path="/", lang=lang) }}>
    <img alt="logo" class="navlogo" src="{{config.extra.logo}}"/>
  </a>

  <nav class="nav">
    {# --- home button --- -#}
    <a href="/" class="{%- if current_path == '/' %} active {% endif -%}" src="">Home</a>

    {%- if config.extra.navbar %}
      {% for menu in config.extra.navbar %}
          {% set trailing_slash = menu.trailing_slash | default(value=true) %}
          <a class="{%- if current_path is containing(menu.url) %} active {% endif -%}" href="{{ get_url(path=menu.url, lang=lang, trailing_slash=trailing_slash) }}">
            {{ menu.name }}
          </a>
      {% endfor %}
    {%- endif -%}

  </nav>

</header>
